html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
    width:100%;
    padding:0 15px 0 15px;
    margin:auto;
}

.top-wrapper {
    width:100%;
}

header{
    height:65px;
    background-color: rgba(218, 177, 101, 0.9);
    background-size: cover;
}

.logo{
    width: 170px;
    margin:5px;
}
.head-wrapper{
}

.header-left{
    float:left;
}

.header-right{
    float:right;
    background-color: rgba(255,255,255,0.3);
}

.hmenu1:hover{
    background-color: rgba(255,255,255,0.5);
}

.hmenu2:hover{
    background-color: rgba(255,255,255,0.5);
}

.hmenu3:hover{
    background-color: rgba(255,255,255,0.5);
}

.hmenu4:hover{
    background-color: rgba(255,255,255,0.5);
}

.flex-list{
    display:flex;
}

.flex-list li {
    flex: auto;
}

@media(max-width:1000px){
    .flex-list{
        flex-wrap: wrap; 
    }

    .flex-list li {
        flex: 50%;
    }
}

@media (max-width: 670px) {
    .flex-list{
      flex-direction:column;
    }
    
    .flex-list li{
      margin:0 auto;
    }
}

.header-right a{
    color:#020826;
    display:block;
    line-height:65px;
    padding:0 25px;
}

.top-wrapper{
    background-image: url(https://torototo10009.github.io/lerning/img/top.jpg);
    padding: 90px 0 200px 50px;
    color:#020826;
    background-size: cover;
    width: 100%;
    height: 400px;;
}

.top-wrapper h1{
    opacity:0.4;
    font-size:45px;
    letter-spacing:4px;
    padding-bottom:5px
}

.top-wrapper p{
    opacity:0.4;
}



.lesson-wrapper{
    padding-top:50px;
    padding-left:20px;
}

.main-icon{
    
}

.flex2-list{
    flex-direction:column;
}

.flex-list2 li {
    flex: auto;
}

.flex-list2 p {
    margin-top:5px;
    margin-bottom:5px;
}


.list-icon{
    background-color: rgba(39, 48, 172, 0.781);
    color:white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 15px;
    padding: 5px 15px;
    font-size:15px;
    letter-spacing:4px;
}


.message-wrapper{
    
}

footer{
    
}
